# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
bin/

# Ignore Idea customizations
.idea

# Ignore Eclipse settings
.project
.settings/
.classpath

# Ignore MacOS files
.DS_Store

# Ignore VSCode folder
.vscode/

#Ignore pdflatex output files
report/*.aux
report/*.out
report/*.log
report/*.toc